@charset "UTF-8";
//ie浏览器兼用版本
$browser-minimum-versions:('ie':'6');
//变量
$miancolor:#FA7D3C;
$body_bg:#F6ECD6;
$write_color:#F87632;
$release_color:#FFC09F;
//顶部分类导航颜色
$topnav_color:#747882;
//搜索框颜色
$search_color:#F2F2F5;

//搜索宽度
$search_width:458px;

//边框颜色
$border_color:#CCCCCC;

//侧导航栏宽度
$c_width:150px;

//主内容宽度
$mainW:600px;

//输入框匡高
$entryW:578px;
$entryH:68px;
//输入宽图标颜色
$biaoqing:#FFA489;
$pic:#84C088;
$video:#54A8E9;
$toptic:#5A8CE6;
$topline:#FF8200;
//微博主题底部色彩
$detialcolor:#808080;
$a_hover:#307d74;

