@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
a {
  text-decoration: none;
}

@font-face {
  font-family: "wbficon";
  src: url('../fonts/wbficon.eot?1516000560') format('embedded-opentype'), url('../fonts/wbficon.otf?1516000560') format('opentype'), url('../fonts/wbficon.svg?1516000560') format('svg'), url('../fonts/wbficon.ttf?1516000560') format('truetype'), url('../fonts/wbficon.woff?1516004116') format('woff');
}
@font-face {
  font-family: "swbficon";
  src: url('../fonts/swbficon.eot?1516079480') format('embedded-opentype'), url('../fonts/swbficon.otf?1516079480') format('opentype'), url('../fonts/swbficon.svg?1516079480') format('svg'), url('../fonts/swbficon.ttf?1516079480') format('truetype'), url('../fonts/swbficon.woff?1516083071') format('woff');
}
/*共有样式*/
/* line 19, ../sass/screen.scss */
.heading .search, .main_content .classify_zone .cl_search, .release_content {
  border: 1px solid #CCCCCC;
}

/* line 28, ../sass/screen.scss */
.search_icon, .wicon, .Nav_tis, .list_other_icon {
  font-family: "wbficon" !important;
  -webkit-font-smoothing: antialiased;
}

/* line 32, ../sass/screen.scss */
.release_title .newthing {
  font-family: "swbficon",'微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 39, ../sass/screen.scss */
.main_content .classify_zone .cl_search .cl_text, .main_content .classify_zone .cl_search .cl_btn {
  border: none;
}
/* line 41, ../sass/screen.scss */
.main_content .classify_zone .cl_search .cl_text:focus, .main_content .classify_zone .cl_search .cl_btn:focus {
  outline: none;
}

/* line 45, ../sass/screen.scss */
body {
  background-color: #F6ECD6;
}

/* line 48, ../sass/screen.scss */
.clearfix, .main_content .classify_zone .classify .single {
  *zoom: 1;
}
/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after, .main_content .classify_zone .classify .single:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*头部样式*/
/* line 52, ../sass/screen.scss */
.heading {
  height: 48px;
  border-top: 2px solid #FA7D3C;
  background-color: #ffffff;
  -moz-box-shadow: 0 1px 1px 1px #ECE3CE;
  -webkit-box-shadow: 0 1px 1px 1px #ECE3CE;
  box-shadow: 0 1px 1px 1px #ECE3CE;
}
/* line 57, ../sass/screen.scss */
.head_box {
  margin: 0 auto;
  width: 1240px;
}
/* line 60, ../sass/screen.scss */
.heading .logo {
  margin-top: 8px;
  float: left;
  display: inline;
  margin-left: 10px;
}
/* line 65, ../sass/screen.scss */
.heading .search {
  float: left;
  display: inline;
  background-color: #F2F2F5;
  width: 458px;
  height: 28px;
  margin: 10px 0 0 30px;
  padding-left: 10px;
  position: relative;
}
/* line 74, ../sass/screen.scss */
.heading .search input {
  border: none;
  background-color: transparent;
  padding: 0;
}
/* line 78, ../sass/screen.scss */
.heading .search input:focus {
  outline: none;
}
/* line 80, ../sass/screen.scss */
.search_content {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #808080;
  line-height: 28px;
  width: 408px;
}
/* line 85, ../sass/screen.scss */
.search_icon {
  font-size: 18px;
  width: 18px;
  position: absolute;
  top: 4px;
  right: 10px;
}
/* line 92, ../sass/screen.scss */
.search_icon:hover {
  color: #FA7D3C;
}
/* line 97, ../sass/screen.scss */
.heading .topNav {
  float: left;
  display: inline;
  margin: 14px 0 0 50px;
  font-size: 0;
  width: 478px;
  border-right: 1px solid #CCCCCC;
}
/* line 103, ../sass/screen.scss */
.heading .topNav .active {
  color: #FA7D3C;
}
/* line 106, ../sass/screen.scss */
.heading .topNav a {
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #747882;
  font-weight: normal;
  float: left;
  display: inline;
  margin-right: 24px;
  display: inline;
}
/* line 112, ../sass/screen.scss */
.heading .topNav a:hover {
  color: #FA7D3C;
}
/* line 115, ../sass/screen.scss */
.Navtext {
  line-height: 22px;
  color: inherit;
}
/* line 119, ../sass/screen.scss */
.wicon {
  vertical-align: top;
  padding-right: 6px;
  font-size: 22px;
  width: 26px;
}
/* line 127, ../sass/screen.scss */
.heading .topNav .account {
  margin-right: 0;
}
/* line 132, ../sass/screen.scss */
.heading .messageNav {
  font-size: 0;
  float: right;
  display: inline;
  width: 118px;
}
/* line 136, ../sass/screen.scss */
.heading .messageNav .write {
  height: 24px;
  width: 26px;
  color: #fff;
  background-color: #F87632;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 24px;
  text-indent: 2px;
  position: relative;
  top: -3px;
}
/* line 146, ../sass/screen.scss */
.heading .messageNav .write:hover {
  color: #fff;
  background-color: #e37d47;
}
/* line 151, ../sass/screen.scss */
.heading .messageNav .last {
  margin-left: 0;
  position: relative;
}
/* line 155, ../sass/screen.scss */
.heading .messageNav a {
  float: right;
  display: inline;
  color: #747882;
  margin: 15px 0 0 22px;
  padding-right: 0;
  width: 20px;
}
/* line 161, ../sass/screen.scss */
.heading .messageNav a:hover {
  color: #FA7D3C;
}
/* line 164, ../sass/screen.scss */
.heading .messageNav a .private {
  width: 22px;
  height: 14px;
  background-color: #FA7D3C;
  font-size: 10px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #fff;
  line-height: 14px;
  text-align: center;
  display: block;
  position: absolute;
  top: -7px;
  left: 11px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 182, ../sass/screen.scss */
.mainbox {
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1000px;
}
/* line 186, ../sass/screen.scss */
.mainbox .leftarea {
  float: left;
  display: inline;
}
/* line 189, ../sass/screen.scss */
.mainbox .list_nav {
  width: 150px;
  float: left;
  display: inline;
}
/* line 193, ../sass/screen.scss */
.mainbox .list_my {
  font-weight: bold;
}
/* line 195, ../sass/screen.scss */
.mainbox .list_my a {
  font-size: 14px;
}
/* line 198, ../sass/screen.scss */
.line {
  border-top: 1px solid #fff;
  margin: 10px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 203, ../sass/screen.scss */
.Nav_tis {
  float: right;
  display: inline;
  padding-right: 8px;
  color: #FA7D3C;
}
/* line 210, ../sass/screen.scss */
.mainbox .list_hot {
  position: relative;
}
/* line 212, ../sass/screen.scss */
.mainbox .list_hot .wicon {
  color: #fff;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  width: 16px;
  position: absolute;
  right: 7px;
  bottom: -17px;
  padding: 0 5px;
  text-indent: 0;
}
/* line 223, ../sass/screen.scss */
.mainbox .list_hot .wicon:hover {
  background-color: transparent;
}
/* line 230, ../sass/screen.scss */
.list_other_icon {
  padding-right: 7px;
}
/* line 234, ../sass/screen.scss */
.mainbox .list_other .more_btn {
  height: 22px;
  text-indent: 0;
  line-height: 22px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  width: 44px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 245, ../sass/screen.scss */
.mainbox .list_other .Nav_tisNum {
  font-size: 10px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #fff;
  width: 22px;
  height: 14px;
  line-height: 14px;
  background-color: #FA7D3C;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: right;
  display: inline;
  text-indent: 0;
  text-align: center;
  margin: 11px 10px;
  vertical-align: middle;
}
/* line 259, ../sass/screen.scss */
.list_nav a {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #fff;
  display: block;
  line-height: 36px;
  text-indent: 14px;
}
/* line 264, ../sass/screen.scss */
.list_nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 268, ../sass/screen.scss */
.main_content {
  float: left;
  display: inline;
}
/* line 270, ../sass/screen.scss */
.main_content .release_zone {
  width: 600px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 273, ../sass/screen.scss */
.main_content .releaseBox {
  padding: 0 10px;
}
/* line 275, ../sass/screen.scss */
.release_title {
  padding-top: 15px;
  padding-bottom: 5px;
}
/* line 278, ../sass/screen.scss */
.release_title .newthing {
  float: left;
  display: inline;
  color: #416C81;
  font-size: 18px;
  letter-spacing: -2px;
}
/* line 285, ../sass/screen.scss */
.release_title .moremessage {
  float: right;
  display: inline;
  font-size: 12px;
  line-height: 20px;
}
/* line 289, ../sass/screen.scss */
.release_title .moremessage a {
  color: #307d74;
}
/* line 294, ../sass/screen.scss */
.release_content {
  -moz-box-shadow: 0 0 2px 1px #F0F0F0 inset;
  -webkit-box-shadow: 0 0 2px 1px #F0F0F0 inset;
  box-shadow: 0 0 2px 1px #F0F0F0 inset;
  padding: 5px;
  min-height: 68px;
  font-size: 0;
}
/* line 301, ../sass/screen.scss */
.release_content textarea {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #000;
  height: 64px;
  border: none;
  width: 100%;
  background-color: transparent;
  line-height: 18px;
  word-wrap: break-word;
}
/* line 309, ../sass/screen.scss */
.release_content textarea:focus {
  outline: none;
}
/* line 316, ../sass/screen.scss */
.release_icon .kind {
  float: left;
  display: inline;
  margin: 13px 0 12px 0;
}
/* line 319, ../sass/screen.scss */
.release_icon .kind li {
  float: left;
  display: inline;
  margin-right: 20px;
}
/* line 323, ../sass/screen.scss */
.release_icon .kind li .icontext {
  font-size: 12px;
  line-height: 20px;
}
/* line 327, ../sass/screen.scss */
.release_icon .kind li a {
  color: #333;
}
/* line 330, ../sass/screen.scss */
.release_icon .kind li a:hover {
  color: #307d74;
}
/* line 332, ../sass/screen.scss */
.release_icon .kind li a:hover .biaoqing {
  color: #f3aa95;
}
/* line 335, ../sass/screen.scss */
.release_icon .kind li a:hover .pic {
  color: #8db790;
}
/* line 338, ../sass/screen.scss */
.release_icon .kind li a:hover .video {
  color: #67a6d6;
}
/* line 341, ../sass/screen.scss */
.release_icon .kind li a:hover .toptic {
  color: #6d91d3;
}
/* line 344, ../sass/screen.scss */
.release_icon .kind li a:hover .topline {
  color: #f5820a;
}
/* line 348, ../sass/screen.scss */
.release_icon .kind li a .biaoqing {
  color: #FFA489;
}
/* line 351, ../sass/screen.scss */
.release_icon .kind li a .pic {
  color: #84C088;
}
/* line 354, ../sass/screen.scss */
.release_icon .kind li a .video {
  color: #54A8E9;
}
/* line 357, ../sass/screen.scss */
.release_icon .kind li a .toptic {
  color: #5A8CE6;
}
/* line 360, ../sass/screen.scss */
.release_icon .kind li a .topline {
  color: #FF8200;
}
/* line 363, ../sass/screen.scss */
.release_icon .kind li a .list_other_icon {
  font-size: 20px;
  vertical-align: top;
}
/* line 370, ../sass/screen.scss */
.release_icon .issue {
  float: right;
  display: inline;
  margin-top: 5px;
}
/* line 373, ../sass/screen.scss */
.release_icon .issue .issue_btn {
  width: 82px;
  height: 30px;
  background-color: #FFC09F;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #fff;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: 14px;
}
/* line 383, ../sass/screen.scss */
.release_icon .issue .issue_btn:focus {
  outline: none;
}
/* line 387, ../sass/screen.scss */
.release_icon .issue a {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #000;
  vertical-align: -3px;
}
/* line 390, ../sass/screen.scss */
.release_icon .issue a:hover {
  color: #307d74;
}
/* line 392, ../sass/screen.scss */
.release_icon .issue a:hover .list_other_icon {
  color: #FA7D3C;
}
/* line 400, ../sass/screen.scss */
.main_content .advert {
  width: 600px;
  margin-bottom: 10px;
  background-color: transparent;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 0;
  overflow: hidden;
}
/* line 406, ../sass/screen.scss */
.main_content .classify_zone {
  -moz-box-shadow: -1 0 2px 1px #F0F0F0;
  -webkit-box-shadow: -1 0 2px 1px #F0F0F0;
  box-shadow: -1 0 2px 1px #F0F0F0;
  margin-bottom: 10px;
}
/* line 418, ../sass/screen.scss */
.main_content .classify_zone .classify .active {
  font-weight: bold;
}
/* line 422, ../sass/screen.scss */
.main_content .classify_zone .classify li {
  float: left;
  display: inline;
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #000;
}
/* line 426, ../sass/screen.scss */
.main_content .classify_zone .classify li .cl_text {
  padding-left: 12px;
  line-height: 38px;
  height: 31px;
  overflow: hidden;
  display: block;
  background-color: #fff;
}
/* line 434, ../sass/screen.scss */
.main_content .classify_zone .classify li a {
  color: inherit;
}
/* line 436, ../sass/screen.scss */
.main_content .classify_zone .classify li a:hover {
  color: #307d74;
}
/* line 441, ../sass/screen.scss */
.main_content .classify_zone .classify .single {
  display: block;
}
/* line 445, ../sass/screen.scss */
.main_content .classify_zone .classify .r, .main_content .classify_zone .classify .l {
  float: left;
  display: inline-block;
  height: 7px;
  width: 18px;
  background-color: #fff;
}
/* line 452, ../sass/screen.scss */
.main_content .classify_zone .classify .m {
  float: left;
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 0 7px 7px 7px;
  border-color: #fff #fff transparent #fff;
  border-style: dashed dashed solid dashed;
  vertical-align: top;
}
/* line 462, ../sass/screen.scss */
.main_content .classify_zone .classify .n {
  float: left;
  width: 0;
  height: 0;
  display: inline-block;
  border-width: 0 7px 7px 7px;
  border-color: #fff #fff #fff #fff;
  border-style: dashed dashed solid dashed;
  vertical-align: top;
}
/* line 473, ../sass/screen.scss */
.main_content .classify_zone .cl_searchBox {
  background-color: #fff;
  width: 300px;
  float: right;
  display: inline;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 479, ../sass/screen.scss */
.main_content .classify_zone .cl_search {
  float: right;
  display: inline;
  font-size: 0;
  -moz-box-shadow: 0 0 2px 1px #F0F0F0 inset;
  -webkit-box-shadow: 0 0 2px 1px #F0F0F0 inset;
  box-shadow: 0 0 2px 1px #F0F0F0 inset;
  margin: 6px 8px;
  width: 176px;
  height: 24px;
}
/* line 488, ../sass/screen.scss */
.main_content .classify_zone .cl_search .cl_text {
  width: 138px;
  text-indent: 10px;
  font-size: 12px;
  padding-top: 6px;
  vertical-align: middle;
}
/* line 496, ../sass/screen.scss */
.main_content .classify_zone .cl_search .cl_btn {
  background-color: transparent;
  color: #B4B7BC;
  font-size: 16px;
  vertical-align: middle;
  padding: 2px 0 0 0;
}
/* line 504, ../sass/screen.scss */
.main_content .classify_zone .cl_search .cl_more {
  float: right;
  display: inline;
  padding: 5px 6px 0 0;
  font-size: 14px;
}
/* line 508, ../sass/screen.scss */
.main_content .classify_zone .cl_search .cl_more:hover {
  color: #FA7D3C;
}
/* line 513, ../sass/screen.scss */
.main_content .classify_zone .cl_footer {
  background-color: #FFF8BF;
  text-align: center;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 517, ../sass/screen.scss */
.main_content .classify_zone .cl_footer a {
  color: #EB737D;
  font-size: 12px;
  line-height: 30px;
}
/* line 524, ../sass/screen.scss */
.weibo {
  width: 600px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 526, ../sass/screen.scss */
.weibo .weibomainBox {
  position: relative;
  padding: 20px 20px 4px 20px;
}
/* line 530, ../sass/screen.scss */
.weibo .headpic {
  float: left;
  display: inline;
  position: absolute;
}
/* line 534, ../sass/screen.scss */
.weibo .morelist {
  right: 20px;
  position: absolute;
}
/* line 538, ../sass/screen.scss */
.weibo .morelist a:hover {
  color: #FA7D3C;
}
/* line 542, ../sass/screen.scss */
.weibo .weibo_detial {
  float: left;
  display: inline;
  margin-left: 60px;
}
/* line 545, ../sass/screen.scss */
.weibo .weibo_detial h3 {
  margin-bottom: 7px;
}
/* line 548, ../sass/screen.scss */
.weibo .weibo_detial .ac_name {
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333333;
  font-weight: bold;
}
/* line 551, ../sass/screen.scss */
.weibo .weibo_detial .ac_name:hover {
  color: #307d74;
}
/* line 554, ../sass/screen.scss */
.weibo_v {
  width: 14px;
  height: 12px;
  background: url("../images/weibo_v.png") no-repeat;
  display: inline-block;
  margin-left: 4px;
}
/* line 561, ../sass/screen.scss */
.huangguang {
  width: 16px;
  height: 15px;
  background: url("../images/huangguan.png") no-repeat;
  display: inline-block;
  margin-left: 4px;
}
/* line 569, ../sass/screen.scss */
.weibo .weibo_detial .comeform {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #808080;
  margin-bottom: 7px;
  display: inline-block;
}
/* line 573, ../sass/screen.scss */
.weibo .weibo_detial .comeform:hover {
  color: #307d74;
}
/* line 577, ../sass/screen.scss */
.weibo .weibo_detial .messagebox {
  margin-bottom: 7px;
}
/* line 579, ../sass/screen.scss */
.weibo .weibo_detial .messagebox p {
  line-height: 23px;
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #000;
}
/* line 583, ../sass/screen.scss */
.weibo .weibo_detial .messagebox a {
  color: #307d74;
}
/* line 588, ../sass/screen.scss */
.weibo .detial_footer {
  border-top: 1px solid #F2F2F5;
  height: 22px;
  padding: 8px 0;
}
/* line 592, ../sass/screen.scss */
.weibo .detial_footer .lastline {
  border: none;
}
/* line 595, ../sass/screen.scss */
.weibo .detial_footer li {
  float: left;
  display: inline;
  width: 25%;
  text-align: center;
  height: 22px;
  border-right: 1px solid #D9D9D9;
  margin-right: -1px;
}
/* line 602, ../sass/screen.scss */
.weibo .detial_footer li a {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #808080 0.12px;
}
/* line 604, ../sass/screen.scss */
.weibo .detial_footer li a:hover {
  color: #307d74;
}
/* line 606, ../sass/screen.scss */
.weibo .detial_footer li a:hover .list_other_icon {
  color: #FA7D3C;
}
/* line 611, ../sass/screen.scss */
.weibo .detial_footer li a .list_other_icon {
  font-size: 14px;
}
/* line 619, ../sass/screen.scss */
.rightarea {
  margin-left: 10px;
  float: left;
  display: inline;
  /*音乐模块*/
}
/* line 622, ../sass/screen.scss */
.rightarea .ac_databox {
  width: 230px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
/* line 628, ../sass/screen.scss */
.rightarea .ac_bg {
  background: url("../images/ac_bg.jpg") no-repeat;
  height: 75px;
  width: 100%;
}
/* line 633, ../sass/screen.scss */
.rightarea .touxian {
  margin: -46px auto 3px auto;
  width: 60px;
  padding: 3px;
  background: rgba(255, 255, 255, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
}
/* line 641, ../sass/screen.scss */
.rightarea .touxian img {
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 647, ../sass/screen.scss */
.rightarea .ac_name {
  text-align: center;
  margin: 0 0 7px 0;
  font-size: 0;
  padding: 0;
}
/* line 653, ../sass/screen.scss */
.rightarea .my_name, .rightarea .my_huangguan, .rightarea .my_level {
  vertical-align: middle;
}
/* line 656, ../sass/screen.scss */
.rightarea .my_name {
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  line-height: 16px;
}
/* line 661, ../sass/screen.scss */
.rightarea .my_name:hover {
  color: #307d74;
}
/* line 665, ../sass/screen.scss */
.rightarea .my_huangguan {
  background: url("../images/my_huangguan.png") no-repeat;
  width: 14px;
  height: 14px;
  margin-left: 3px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 672, ../sass/screen.scss */
.rightarea .my_level {
  background: url("../images/my_level.png") no-repeat;
  width: 33px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font: 12px Arial,Verdana,Helvetica,sans-serif;
  color: #fff;
  font-style: italic;
  letter-spacing: -0.1em;
  margin-left: 3px;
}
/* line 683, ../sass/screen.scss */
.rightarea .ac_fans {
  margin: 0 16px 10px 16px;
}
/* line 685, ../sass/screen.scss */
.rightarea .ac_fans .lastline {
  border: none;
}
/* line 688, ../sass/screen.scss */
.rightarea .ac_fans li {
  width: 33%;
  float: left;
  display: inline;
  padding: 2px 0;
  height: 30px;
  border-right: 1px solid #D9D9D9;
  margin-right: -1px;
  text-align: center;
}
/* line 696, ../sass/screen.scss */
.rightarea .ac_fans li .ac_mun {
  font: 18px Arial,Verdana,Helvetica,sans-serif;
  font-weight: bold;
  color: #333333;
  line-height: 18px;
  display: block;
  overflow: hidden;
}
/* line 703, ../sass/screen.scss */
.rightarea .ac_fans li .ac_mun:hover {
  color: #307d74;
}
/* line 707, ../sass/screen.scss */
.rightarea .ac_fans li .ac_muncontent {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #808080;
  font-weight: normal;
  display: block;
}
/* line 715, ../sass/screen.scss */
.songlistbox {
  width: 230px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 717, ../sass/screen.scss */
.sidebartitle {
  padding: 11px 16px;
  border-bottom: 1px solid #F2F2F5;
  height: 17px;
}
/* line 722, ../sass/screen.scss */
.sidebar_tl {
  float: left;
  display: inline;
}
/* line 724, ../sass/screen.scss */
.sidebar_tl a {
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #6B6B6B;
  line-height: 16px;
  font-weight: bold;
}
/* line 728, ../sass/screen.scss */
.sidebar_tl a:hover {
  color: #307d74;
}
/* line 733, ../sass/screen.scss */
.morechoose {
  float: right;
  display: inline;
}
/* line 735, ../sass/screen.scss */
.morechoose .list_other_icon {
  font-size: 14px;
}
/* line 738, ../sass/screen.scss */
.morechoose a {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #6B6B6B;
  line-height: 16px;
}
/* line 741, ../sass/screen.scss */
.morechoose a:hover {
  color: #307d74;
}
/* line 743, ../sass/screen.scss */
.morechoose a:hover .list_other_icon {
  color: #FA7D3C;
}
/* line 749, ../sass/screen.scss */
.songlistbox .songlist_content {
  padding: 0 6px;
}
/* line 751, ../sass/screen.scss */
.songlistbox .songlist_content .songitem {
  padding: 9px 10px;
  border-bottom: 1px solid #F2F2F5;
}
/* line 755, ../sass/screen.scss */
.songlistbox .songlist_content .songitem_tl {
  float: left;
  display: inline;
  padding-top: 6px;
  font-size: 0;
}
/* line 759, ../sass/screen.scss */
.songlistbox .songlist_content .songitem_tl .song_num {
  font: 12px Arial,Verdana,Helvetica,sans-serif;
  color: #fff;
  background: url("../images/song_numbg.png") no-repeat;
  width: 15px;
  height: 15px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 768, ../sass/screen.scss */
.songlistbox .songlist_content .songitem_tl .song_name {
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333;
  padding-left: 5px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 775, ../sass/screen.scss */
.songlistbox .songlist_content .song_start {
  float: right;
  display: inline;
  font-size: 0;
}
/* line 780, ../sass/screen.scss */
.songlistbox .songitem_active {
  border: none;
}
/* line 782, ../sass/screen.scss */
.songlistbox .songitem_active .songitem_fl {
  float: left;
  display: inline;
  padding: 6px 0;
  font-size: 0;
}
/* line 787, ../sass/screen.scss */
.songlistbox .songitem_active .songitem_rl {
  float: left;
  display: inline;
  padding-top: 10px;
  padding-left: 5px;
}
/* line 791, ../sass/screen.scss */
.songlistbox .songitem_active .songitem_rl h4 {
  margin-bottom: 5px;
}
/* line 794, ../sass/screen.scss */
.songlistbox .songitem_active .songitem_rl .song_name {
  font-size: 14px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333;
  line-height: 16px;
  font-weight: bold;
}
/* line 799, ../sass/screen.scss */
.songlistbox .songitem_active .songitem_rl .song_num {
  background: url("../images/song_numbg_active.png") no-repeat;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 15px;
  height: 15px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  padding-right: 6px;
}
/* line 811, ../sass/screen.scss */
.songlistbox .songitem_active .songitem_rl .songer_name {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #808080;
  line-height: 14px;
}
/* line 817, ../sass/screen.scss */
.sidebar_footer {
  border-top: 1px solid #D9D9D9;
  text-align: center;
  padding: 11px 0;
  font-size: 0;
}
/* line 822, ../sass/screen.scss */
.sidebar_footer a {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333;
}
/* line 825, ../sass/screen.scss */
.sidebar_footer a:hover {
  color: #FA7D3C;
}
/* line 831, ../sass/screen.scss */
.rightarea .ad_pic {
  width: 230px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 833, ../sass/screen.scss */
.rightarea .ad_pic .ad_picbox {
  padding: 16px 22px;
}
/* line 837, ../sass/screen.scss */
.rightarea .hot_theme {
  width: 230px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 839, ../sass/screen.scss */
.rightarea .hot_theme .hot_content {
  padding: 13px 16px 10px 16px;
}
/* line 841, ../sass/screen.scss */
.rightarea .hot_theme .hot_content li {
  height: 14px;
  padding: 7px 0;
}
/* line 845, ../sass/screen.scss */
.rightarea .hot_theme .hot_content a {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333;
  line-height: 14px;
}
/* line 848, ../sass/screen.scss */
.rightarea .hot_theme .hot_content a:hover {
  color: #307d74;
}
/* line 852, ../sass/screen.scss */
.rightarea .hot_theme .hot_content .click_num {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #808080;
  float: right;
  display: inline;
  line-height: 22px;
}
/* line 859, ../sass/screen.scss */
.rightarea .follow {
  width: 230px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 861, ../sass/screen.scss */
.rightarea .follow .follow_head {
  height: 32px;
  line-height: 32px;
  padding: 6px 0 0 16px;
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333;
}
/* line 866, ../sass/screen.scss */
.rightarea .follow .follow_head a {
  color: #307d74;
}
/* line 870, ../sass/screen.scss */
.rightarea .follow .follow_p {
  background-color: #F2F2F5;
  padding: 16px;
}
/* line 873, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_btnbox {
  float: right;
  padding-top: 4px;
}
/* line 877, ../sass/screen.scss */
.rightarea .follow .follow_p span {
  float: left;
  display: inline;
}
/* line 880, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_ac {
  font: 12px '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  padding-left: 10px;
}
/* line 883, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_ac a {
  color: #307d74;
}
/* line 886, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_ac p {
  color: #929293;
}
/* line 889, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_ac .lan_v, .rightarea .follow .follow_p .follow_ac .red_v {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 14px;
  height: 12px;
  margin-left: 6px;
}
/* line 896, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_ac .lan_v {
  background: url("../images/weibo_v_s.png") no-repeat;
}
/* line 899, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_ac .red_v {
  background: url("../images/red_v.png") no-repeat;
}
/* line 903, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_btn {
  display: block;
  border: 1px solid #D9D9D9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px 0 #D9D9D9;
  -webkit-box-shadow: 0 1px 1px 0 #D9D9D9;
  box-shadow: 0 1px 1px 0 #D9D9D9;
  width: 50px;
  height: 14px;
  padding: 5px 0;
  background-color: #fff;
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333;
  text-align: center;
  line-height: 14px;
}
/* line 915, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_btn:hover {
  -moz-box-shadow: 0 1px 1px 0 #C2C2C2;
  -webkit-box-shadow: 0 1px 1px 0 #C2C2C2;
  box-shadow: 0 1px 1px 0 #C2C2C2;
}
/* line 918, ../sass/screen.scss */
.rightarea .follow .follow_p .follow_btn i {
  background: url("../images/follow_add.png") no-repeat;
  width: 11px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-right: 4px;
  position: relative;
  top: -1px;
}
/* line 930, ../sass/screen.scss */
.rightarea .member {
  width: 230px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 932, ../sass/screen.scss */
.rightarea .member .member_content {
  padding: 0 16px;
}
/* line 934, ../sass/screen.scss */
.rightarea .member .member_content .member_my {
  padding-top: 25px;
}
/* line 936, ../sass/screen.scss */
.rightarea .member .member_content .member_my a {
  color: #307d74;
}
/* line 940, ../sass/screen.scss */
.rightarea .member .member_content p {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #333;
  line-height: 22px;
}
/* line 944, ../sass/screen.scss */
.rightarea .member .member_content .member_pic {
  margin: 8px 0;
}
/* line 947, ../sass/screen.scss */
.rightarea .member .member_content .btn_list {
  padding-top: 3px;
  margin: 0 auto;
  width: 165px;
  padding-bottom: 16px;
}
/* line 951, ../sass/screen.scss */
.rightarea .member .member_content .btn_list a {
  float: left;
  display: inline;
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #000;
  border: 1px solid #D9D9D9;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px 0 #D9D9D9;
  -webkit-box-shadow: 0 1px 1px 0 #D9D9D9;
  box-shadow: 0 1px 1px 0 #D9D9D9;
  text-align: center;
  padding: 4px 10px;
  line-height: 14px;
  display: block;
  margin: 0 6px;
}
/* line 966, ../sass/screen.scss */
.rightarea .notice {
  width: 230px;
  margin-bottom: 10px;
  background-color: #fff;
  -moz-box-shadow: 0 0 2px 1px #afafaf;
  -webkit-box-shadow: 0 0 2px 1px #afafaf;
  box-shadow: 0 0 2px 1px #afafaf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 968, ../sass/screen.scss */
.rightarea .notice .notice_content {
  padding: 14px 16px 16px 16px;
}
/* line 970, ../sass/screen.scss */
.rightarea .notice .notice_content a {
  font-size: 12px;
  font-family: '微软雅黑',Arial,Verdana,Helvetica,sans-serif;
  color: #307d74;
  line-height: 24px;
}
